<header>
  <img
  src="assets/img/gustavo.jpg"
  alt= "Gustavo Carvalho - Foto de Perfil"
  width="130px"
  height="130px"
  loading="eager"
  >
  <h1>Gustavo de Sousa Carvalho</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
    <p> São Bernardo do Campo, São Paulo, Brasil</p>
    <p>
      Estou cursando Angular pois me interesso em ingressar na área. Espero um dia
      poder trabalhar com tecnologia e ajudar a melhorar a vida das pessoas facilitando
      o acesso a informações e serviços.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assent/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gustavo-carvalho-2b3888261/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="assets/icons/knowledge/whatsapp.svg"
        alt="Ícone para largura do whatsapp"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5511913239529&text=o1%c3%A1%20Gustavo,%20preciso%20de%20um%20job!"
          target="_blank">
          <strong>Envie uma menssagem para: </strong>
          <p>whatsapp: (11) 9 1323-9529</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/knowledge/email.svg"
        alt="Ícone para largura do whatsapp"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="mailto:gc49862@gmail.com"
          target="_blank">
          <strong>Envie um e-mail para: </strong>
          <p>gc49862&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
