<h2>Templete</h2>
<h3>Text Interpolantion</h3>
<p>
{{name}} - {{age}}

</p>

<p>{{ condition}}</p>

<hr />

<h2>Property binding</h2>
 <button [disabled] = "isDisable"> button </button>
 <!-- <img [src]="srcValue" [alt]="name" [title]="name"/> -->

 <hr />

 <h2>Attribute binding</h2>
 <p [attr.title]="name" [attr.aria-label]="name">Gustavo Carvalho</p>

 <hr />

 <h2>Class and Style binding</h2>
 <p [class.background-green]="age > 18" [class.background-red]="age < 18">{{ name }}</p>
 <p [style.text-decoration]="isTextDecoration">{{age}}</p>

 <hr />

 <h2>Event binding</h2>

 <button (click)="sum()">+</button>
 <button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)">

<div style=" background: red; width: 300px; height: 300px; margin-top: 10px;"
(mousemove)="onMouseMove($event)"></div>

<hr />

<h3>Two-way binding</h3>
<input [(ngModel)]="name">
{{ name }}

<hr />

<h3>Diretivas de atributos</h3>
<div [ngClass]="{ 'background-green' : age > 20, 'background-background-red': age < 20}">Classes condicionais</div>

<div [ngStyle]="{
  color: age > 20 ? 'green' : 'red',
'font-size': age > 20 ? '10px' : '20px',
}">Estilos dinâmico</div>
